{# app/Resources/views/child/succesresa.html.twig #}
{% extends 'base.html.twig' %}

{% block breadcrumb %}
<ol class="breadcrumb">
  <li class="active"> <a href="/{{ app.request.locale }}">
    <i class="glyphicon glyphicon-home"></i>&nbsp;{{ "Accueil" | trans}}</a></li>
</ol>

{% endblock %}

{% block section %}
	<div id="cgv">
		Votre reservation a bien été prise en compte.<br>
		Vous allez recevoir vos billets sur le courriel renseigné lors du paiement.
	</div>
{% endblock %}

